:root {
  --discord-blurple: #5865F2;
  --discord-green: #57F287;
  --discord-yellow: #FEE75C;
  --discord-fuchsia: #EB459E;
  --discord-red: #ED4245;
  --discord-white: #FFFFFF;
  --discord-black: #000000;

  --brand-experiment-100: #f7f7fe;
  --brand-experiment-130: #f0f1fe;
  --brand-experiment-160: #e7e9fd;
  --brand-experiment-200: #dee0fc;
  --brand-experiment-230: #d4d7fc;
  --brand-experiment-260: #c9cdfb;
  --brand-experiment-300: #bcc1fa;
  --brand-experiment-330: #a8aff8;
  --brand-experiment-360: #949cf7;
  --brand-experiment-400: #7984f5;
  --brand-experiment-430: #707bf4;
  --brand-experiment-460: #6571f3;
  --brand-experiment: #5865f2;
  --brand-experiment-500: #5865f2;
  --brand-experiment-530: #505cdc;
  --brand-experiment-560: #4752c4;
  --brand-experiment-600: #3c45a5;
  --brand-experiment-630: #343b8f;
  --brand-experiment-660: #2d347d;
  --brand-experiment-700: #232861;
  --brand-experiment-730: #21265b;
  --brand-experiment-760: #1e2353;
  --brand-experiment-800: #1a1e49;
  --brand-experiment-830: #141738;
  --brand-experiment-860: #0d0f24;
  --brand-experiment-900: #04050c;
  --brand-experiment-05a: rgba(88,101,242,0.05);
  --brand-experiment-10a: rgba(88,101,242,0.1);
  --brand-experiment-15a: rgba(88,101,242,0.15);
  --brand-experiment-20a: rgba(88,101,242,0.2);
  --brand-experiment-25a: rgba(88,101,242,0.25);
  --brand-experiment-30a: rgba(88,101,242,0.3);
  --brand-experiment-35a: rgba(88,101,242,0.35);
  --brand-experiment-40a: rgba(88,101,242,0.4);
  --brand-experiment-45a: rgba(88,101,242,0.45);
  --brand-experiment-50a: rgba(88,101,242,0.5);
  --brand-experiment-55a: rgba(88,101,242,0.55);
  --brand-experiment-60a: rgba(88,101,242,0.6);
  --brand-experiment-65a: rgba(88,101,242,0.65);
  --brand-experiment-70a: rgba(88,101,242,0.7);
  --brand-experiment-75a: rgba(88,101,242,0.75);
  --brand-experiment-80a: rgba(88,101,242,0.8);
  --brand-experiment-85a: rgba(88,101,242,0.85);
  --brand-experiment-90a: rgba(88,101,242,0.9);
  --brand-experiment-95a: rgba(88,101,242,0.95);
 
  --text-warning: #faa61a;
  --text-danger: #ed4245;
  --info-positive-background: rgba(59,165,92,0.1);
  --info-positive-foreground: #3ba55c;
  --info-warning-background: rgba(250,166,26,0.1);
  --info-warning-foreground: #faa61a;
  --info-danger-background: rgba(237,66,69,0.1);
  --info-danger-foreground: #ed4245;
  --status-positive-background: #3ba55c;
  --status-positive-text: #fff;
  --status-warning-background: #faa61a;
  --status-danger-background: #ed4245;
  --status-danger-text: #fff;
  --focus-primary: #00b0f4;

  --font-code: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
  --font-korean: Whitney,"Apple SD Gothic Neo","NanumBarunGothic","맑은 고딕","Malgun Gothic",Gulim,굴림,Dotum,돋움,"Helvetica Neue",Helvetica,Arial,sans-serif;
}